amqp==5.3.1
asgiref==3.11.1
billiard==4.2.4
boto3==1.43.74
botocore==1.43.74
celery==5.6.3
certifi==2026.7.22
cffi==2.1.0
charset-normalizer==3.4.9
click==8.4.2
colorama==0.4.6
cron-descriptor==1.4.5
cryptography==49.0.0
Django==6.0.6
django-celery-beat==2.9.0
django-filter==25.2
django-redis==7.0.0
djangorestframework_simplejwt==5.5.1
djangorestframework==3.17.1
django-storages==1.14.6
django-timezone-field==7.2.2
drf-spectacular==0.30.0
gunicorn==26.0.0
idna==3.18
jmespath==1.1.0
kombu==5.6.2
lxml==6.1.1
mypy_extensions==1.1.0
packaging==26.2
pdfminer.six==20260107
pdfplumber==0.11.10
pillow==12.3.0
prompt_toolkit==3.0.52
psycopg2-binary==2.9.12
pycparser==3.0
PyJWT==2.13.0
pypdfium2==5.11.0
python-crontab==3.3.0
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.2.2
PyYAML==6.0.3
razorpay==2.0.1
redis==5.0.8
requests==2.34.2
s3transfer==0.19.2
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.16.0
tzdata==2026.2
tzlocal==5.4.4
urllib3==2.7.0
vine==5.1.0
wcwidth==0.8.2